.container {
    align-items: flex-start;
}

.rectangle {
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 2px 2px 5px black;
    color: #eaeded;
    border-radius: 15px;
    font-family: 'Russo One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    background-color: #663399 ;
}
.simpleApproach {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.hubName {
    transition: all 0.5s;
    cursor: pointer;
    padding-bottom: 1px;
    border-bottom: 1px solid #333333;
    font-family: 'Cinzel', serif;
    color: #333333;
    font-size: 25px;
    align-self: center;
    /*margin-bottom: -40px;*/
}
.linkIconSpan {
    margin-bottom: 13px;
    margin-left: 9px;
    color: #333333;
    font-size: 20px;
    align-self: flex-end;
}
.hubName:hover {
    color: #2a2a56;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px black;
    border: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: -20px;
    margin-right: 15px;
    background-color: #663399;
    height: 50px;
    width: 50px;
    border-radius: 800px;
    align-content: flex-end;
    align-self: flex-end;
    font-size: 31px;
}

.goTriangle {
    align-items: flex-end;
    border-color: #663399;
    text-align: center;
    color: #eaeded;
}

@media only screen and (max-width: 786px) {
    .container {
        margin-right: 0;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
    }
}