.main {

}


.textContentBodyContainer {
    margin: 5rem 8vw 0 8vw;
    /*border: 2px solid red;*/
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}



@media only screen and (max-width: 768px) {
    .textContentBodyContainer {
        /*flex-direction: column;*/
        /*justify-content: flex-start;*/
        /*align-items: flex-start;*/
        margin: 5rem 1rem 0 1rem;
        width: 100%;
    }
}