.main {

}


.textContentBodyContainer {
    margin: 5rem 5rem 0 5rem;
    /*border: 2px solid red;*/
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}



@media only screen and (max-width: 768px) {
    .textContentBodyContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 3rem 0 0 -1.3rem;
        width: 100%;
    }
}