.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.coverContainer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 4px 2px 10px black;
    margin: 0;
    width: 100%;
    height: 40vh;
    /*background-image: url("Images/Cover3.jpeg");*/
    background-color:   #bf084e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    align-self: center;
    width: 75%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30vh;
}
.headContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5rem;
}
.headDegree2 {
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}
.underline {
    box-shadow: 1px 1px 2px black;
    border-radius: 2px;
    margin-top: -4vh;
    margin-left: 0;
    background: linear-gradient(90deg, rgba(233,3,176,1) 0%, rgba(121,9,89,1) 49%, rgba(3,123,152,1) 100%);
    width: 60%;
    height: 2px;
}
.noUnderline {
    margin-bottom: 5rem;
}
.paraContainer {
    padding: 2rem;
    border-radius: 4px;
    background-color:  #eaeded ;
}
.standardPara {
    font-family:'Roboto Mono', monospace;
    font-size: 16px;
}
.posterImage {
    margin: 0;
    width: 500px;
    height: 600px;
    box-shadow: 2px 2px 5px black;
    border-radius: 3px;
}
.carouselContainer {
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.carouselImageContainer {
    display: none;
}
.dotsContainer {

}
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #f79de7;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: #bf084e;
}
.dotActive {
    background-color: #bf084e;
}
.darkContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15vh;
    padding-top: 4rem;
    background-color:  #f2f4f4;
    width: 100vw;
}
.headDegree2v2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 786px) {
    .underline{
        margin-top: -2vh;
    }
    .container {
        width: 90%;
    }
    .posterImage {
        width: 100vw;
        height: 500px;
    }
}