.main{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.coverContainer {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 4px 2px 10px black;
    /*margin-bottom: 2rem;*/
    width: 100%;
    height: 40vh;
    /*!*background-image: url("Images/Cover3.jpeg");*!*/
    background-color:   #663399;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-image: url("../../static/wieEchoes.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.headDegree1Container {
    padding-bottom: 1rem;
    padding-top: 0.7rem;
    /*border-bottom: 1px solid #eaeded;*/
    /*border-top: 1px solid #eaeded;*/
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
}
.underlineDegree1 {
    margin-left: 33px;
    box-shadow: 1px 1px 1px #aaa;
    border-radius: 2px;
    background-color: #eaeded;
    width: 60%;
    height: 1px;
    margin-bottom: 2px;
}
.underlineDegree1Top {
    margin-left: 33px;
    box-shadow: 1px 1px 1px #aaa;
    border-radius: 2px;
    background-color: #eaeded;
    width: 60%;
    height: 1px;
    margin-bottom: 15px;
}
.underlineDegree1Bottom {
    margin-left: 33px;
    box-shadow: 1px 1px 1px #aaa;
    margin-top: 15px;
    border-radius: 2px;
    background-color: #eaeded;
    width: 60%;
    height: 1px;
    margin-bottom: 2px;
}
.headDegree1 {
    text-align: center;
    color: #eaeded;
    display: inline-block;
    font-family: 'Russo One', sans-serif;
    font-size: 45px;
}
.container {
    align-self: center;
    width: 75%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 15vh auto 0 auto;
}
.headDegree2Container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
}
.headDegree2 {
    margin-bottom: 0.5rem;
    text-align: center;
    color: #484848;
    font-size: 45px;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}
.underlineDegree2Top {
    /*margin-left: 3px;*/
    box-shadow: 1px 1px 1px  #d5d1d4 ;
    margin-top: -0.8rem;
    margin-bottom: 1px;
    background-color: #2a2a56;
    border-radius: 4px;
    /*background: linear-gradient(90deg, rgba(102,51,153,1) 35%, rgba(62,167,220,1) 77%, rgba(255,255,255,1) 100%);*/
    width: 100%;
    height: 2px;
}
.underlineDegree2Bottom {
    box-shadow: 1px 1px 1px  #d5d1d4 ;
    background-color: #5D5C5D;
    border-radius: 4px;
    width: 100%;
    height: 2px;
}
.underlineDegree2TopLengthy {
    box-shadow: 1px 1px 1px  #d5d1d4 ;
    align-self: center;
    margin-top: -0.8rem;
    margin-bottom: 1px;
    background-color: #2a2a56;
    border-radius: 4px;
    width: 100%;
    height: 2px;
}
.underlineDegree2BottomLengthy {
    align-self: center;
    box-shadow: 1px 1px 1px  #d5d1d4 ;
    background-color: #5D5C5D;
    border-radius: 4px;
    width: 100%;
    height: 2px;
}
.noUnderline {
    margin-bottom: 5rem;
}
.paraContainer {
    padding: 1rem;
    border-radius: 8px;
}
.standardPara {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 18px;
}
.posterImage {
    margin: 0;
    width: 500px;
    height: 600px;
    box-shadow: 2px 2px 5px black;
    border-radius: 3px;
}
.hubCardContainer {
    margin: 2rem auto 2rem auto;
    width: 100%;
    align-self: center;
    padding: 2rem;
    border-radius: 8px;
    background-color:  #eaeded;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.darkContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15vh;
    padding-top: 4rem;
    background-color: #f2f4f4;
    width: 100vw;
}
.headDegree2v2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.linkWrap {
    text-decoration: none;
}
.linkWrap:hover {
    text-decoration: none;
    color: #2a2a56;
}
.linkWrap:active {
    text-decoration: none;
    color: #2a2a56;
}
.carouselContainer {
    margin: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
    /*background-color: #2a2a56;*/
    /*background-color:  #d90a87 ;*/
    /*background: linear-gradient(90deg, rgba(62,21,87,1) 0%, rgba(143,66,125,1) 57%, rgba(235,32,140,1) 100%);*/
}
.carouselHead {
    box-shadow: 1px 1px 1px  #d5d1d4 ;
    border-bottom: 2px solid #5D5C5D;
    margin: 1rem 0 4rem 0;
    font-family: 'Bebas Neue', cursive;
    /*color: #ddd;*/
    /*color: #eaeded;*/
    color: #484848;
}
.devFooter {
    /*background-color: #262627;*/
    margin-top: 2rem;
    border-top: 1px solid #333333;
    width: 100%;
    height: 25vh;
}
.blue {
    color: #484848;
}
.headLinkReports {
    align-self: center;
}
@media only screen and (max-width: 786px) {
    .carouselHead{
        margin-top: 2rem;
        align-self: center;
        font-size: 35px;
    }
    .carouselContainer {
        border-radius: 4px;
        box-shadow: 1px 1px 1px  #d5d1d4 ;
    }
    .postersContainer {
        display: none;
    }
    .underline {
        margin-top: -2vh;
    }
    .container {
        width: 90%;
    }
    .headDegree2 {
        font-size: 35px;
    }
}



@media only screen and (max-width: 323px) {
    .underlineDegree2TopLengthy {
        width: 69%;
    }
    .underlineDegree2BottomLengthy {
        width: 69%;
    }
}



@media only screen and (min-width: 786px) {
    .headDegree2Container {
        align-self: center;
        margin-left: 0;
    }
    .underlineDegree2TopLengthy {
        align-self: center;
    }
    .underlineDegree2TopLengthy {
        width: 100%;
    }
    .carouselImageContainer{
        height: 35%;
        width: 35%;
        margin: 1rem 0 2rem 0;
    }
    .carouselHead{
        margin: 1.5rem 0 2rem 0;
        font-size: 35px;
    }
}