.container {
    margin: 0 0 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.space {
    margin-bottom: 5rem;
}
.teamHeadText {
    color: #333333;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}
.teamHeadText:after {
    content: " .";
    color: #c70062;
}
.headByLine {
    margin-top: -1rem;
    font-size: 16px;
    font-family: 'Noto Sans SC', sans-serif;
}
.headByLine:after {
    content: " .";
    color: #c70062;
    font-size: 25px;
}
.creditImagesComponentContainer {
    margin: 1rem 0 0 -3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 786px) {
    .container {
        margin: 0;
        width: 100%;
    }
    .teamHeadText {
        margin-left: 1rem;
    }
    .teamHeadContainer {
    }
    .headByLine {
        /*margin-top: -1.5rem;*/
        font-size: 14px;
        margin-left: 1rem;
    }
    .creditImagesComponentContainer {
        margin-left: 1rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}