.container {
    margin: 5rem 8vw 5rem 8vw;
}
.achievementsContainer {
    align-self: flex-start;
    margin: 2rem 0 0 0 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.achievement {
    margin-bottom: 1rem;
    color:  #fb9101;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.achievementText {
    text-align: left;
    font-family: 'Noto Sans SC', sans-serif ;
    margin: -5px 3rem 0 1rem;
    color: #333333;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 0 0 0;
    }
    .achievementsContainer {
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 3rem 0 4rem 2rem;
    }
    .achievement {
        margin-bottom: 1rem;
        justify-content: flex-start;
    }
    .achievementText {
        margin: -2px 1.5rem 0 1rem;
        width: 100%;
    }
    .trophyIcon {
        font-size: 25px;
    }
}