.coverContainer {
    margin: 0 0 5rem 0;
    /*flex-wrap: wrap;*/
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #212121;  /*testing*/
    /*background-image: url("../../../static/bg/wieEchoesDesktopCover.png");*/ /*reuse*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
}
.verticalNavBarContainer {
    /*border: 2px solid yellow;*/
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #343434;
}
.verticalContainerTopIconContainer {
    /*border: 1px dashed cyan;*/
    width: 120px;
    height: 100px;
    background-color: #343434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verticalContainerMenuIcon {
    color: #eaeded;
    font-size: 25px;
}
.verticalNavBarBottomButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}
.verticalNavBarBottomButton {
    font-size: 20px;
    color: #eaeded;
    margin-bottom: 1rem;
}
.coverBody {
    /*border: 2px solid rebeccapurple;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.horizontalNavBarContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border: 2px dashed darkgoldenrod;*/
    width: 100%;
    height: 100px;
}
.horizontalNavBarNameElementLeft {
    margin-left: 2rem;
    margin-bottom: 4px;
    color: #eaeded;
    font-size: 35px;
    font-family: 'MuseoModerno', cursive;
}
.horizontalNavBarHeadText {
    margin-top: -13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.pink {
    color: #c70062;
}
.horizontalNavBarButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.horizontalNavBarButton {
    letter-spacing: 0.05rem;
    font-size: 14px;
    color: #eaeded;
    font-family: 'Montserrat', sans-serif;
    margin-right: 2.5rem;
    border-bottom: 1px solid #212121;
    transition: 0.5s all;
}

.horizontalNavBarButton:hover {
    border-bottom: 1px solid #eaeded;
}
.bodyMain {
    flex: 4;
    width: 100%;
    height: 100%;
    /*border: 2px solid crimson;*/
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.bodyMainHeadContainer {
    /*border: 2px solid gold;*/
    /*margin-right: 3rem;*/
    /*border: 2px solid gold;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bodyMainHeadHead {
    /*border: 2px solid crimson;*/
    width: 300px;
    color: #eaeded;
    font-family: 'MuseoModerno', cursive;
    font-size: 40px;
}
.bodyMainHeadSecondLine {
    margin: 0.5rem 0 1rem 0;
}
.bodyMainHeadSecondLine:after {
    content: " .";
    color: #c70062;
}
.bodyMainHeadText {
    /*border: 2px dashed green;*/
    font-size: 16px;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    color: #eaeded;
    width: 500px;
    text-align: left;
    height: 100px;
}
.bodyMainHeadText:after {
    content: " .";
    color: #c70062;
    font-size: 20px;
}
.coverFooterContainer {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*border: 2px solid gold;*/
    width: 100%;
    height: 25%;
}

.footerBlock {
    background-color: #212121;
    /*opacity: 0.5;*/
    height: 100%;
    flex: 4;
    /*border: 2px dashed green;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footerBlockHead {
    letter-spacing: 0.15rem;
    margin: 0.2rem 0 1rem 1.5rem;
    align-self: flex-start;
    color: #eaeded;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.footerBlockText {
    margin: 0 0.8rem 0 1.5rem;
    font-size: 14px;
    color: #eaeded;
    font-family: 'Noto Sans SC', sans-serif;
}

.arrow {
    align-self: flex-end;
    margin: 0 1rem 0 0;
    font-size: 25px;
    color: #c70062;
}

.onlyText {
    margin-top: 2.8rem;
}
.bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.smallerFooterBlock {
    align-self: flex-end;
    height: 80%;
    opacity: 0.9;
    flex: 2;
    background-image: url("../../../static/team/Emi-Yano.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.footerBlockReadText {
    align-self: flex-end;
    margin: 0 2.3rem 0 0;
    font-size: 15px;
    color: #c70062;
    font-family: 'Roboto', sans-serif;
}
.footerBlockReadText:hover {
    border-bottom: 1px solid #c70062;
    padding-bottom: 0.3rem;
    color: #c70062;
}
.footerBlockWithSwipeLine {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
.scrollText {
    margin: 5rem -1.5rem 0 0;
    color: #eaeded;
    letter-spacing: 0.3rem;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    transform: rotate(90deg);
}
.footerArrow {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.footerLongDownLine {
    margin: 0 1rem 0 0;
    align-self: flex-start;
    background-color: #eaeded;
    width: 1px;
    height: 88%;
}
.arrowHead {
    /*border: 1px solid #c70062;*/
    margin: -0.5rem 0 0 -17px;
    padding: 0;
    color: #eaeded;
}
.navBarContainerMobile {
    display: none;
}

@media only screen and (min-width: 768px) {
    .footerContainerMobile {
        display: none;
    }
    .navBarContainerMobile {
        display: none;

    }
    .hamburgerButtonMobile {
        display: none;

    }
    .echoesHeadMobile {
        display: none;

    }
    .echoesTextMobile {
        display: none;

    }
    .echoesHeadByLine {
        display: none;

    }
    .mainTextMobileContainer {
        display: none;
    }
    .mainTextMobileHead1 {
        display: none;
    }
    .mainTextMobileHead2 {
        display: none;


    }
    .mainTextMobileHead2:after {
        display: none;

    }
    .mainTextMobileByLine {
        display: none;

    }

    .socialButtonsMobileContainer {
        display: none;

    }

    .socialButton {
        display: none;

    }

    .goDownMobileContainer {
        display: none;

    }
    .goDownMobileContainer:active {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .coverContainer {
        height: 80vh;
        width: 100vw;
        background-color: #212121;
        margin: 0 0 5rem 0;
        display:  flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .verticalNavBarContainer {
        display: none;
    }
    .coverBody {
        display: none;
    }
    .navBarContainerMobile {
        margin: 1rem 0 0 0;
        /*border: 1px solid gold;*/
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .hamburgerButtonMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2rem 0 0 ;
        /*background-color: #333333;*/
        font-size: x-large;
        width: 2rem;
        height: 2rem;
        align-self: center;
        color: #eaeded;
    }
    .echoesHeadMobile {
        margin: 0 0 0 2rem;
        /*border: 1px dashed green;*/
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .echoesTextMobile {
        font-family: 'MuseoModerno', cursive;
        font-size: 28px;
        color: #eaeded;
    }
    .echoesHeadByLine {
        margin-top: -12px;
        letter-spacing: 0.1rem;
        color: #eaeded;
        font-family: 'Noto Sans SC', sans-serif;
        font-size: 9px;
    }
    .mainTextMobileContainer {
        margin: 5vh 0 0 0 ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .mainTextMobileHead1 {
        color: #eaeded;
        font-size: 30px;
        font-family: 'MuseoModerno', cursive;
    }
    .mainTextMobileHead2 {
        margin-top: -1rem;

    }
    .mainTextMobileHead2:after {
        content: " .";
        color: #c70062;
        font-size: 30px;
    }
    .mainTextMobileByLine {
        display: none;
        width: 75%;
        text-align: center;
        color: #eaeded;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
    }

    .socialButtonsMobileContainer {
        border-radius: 15px;
        border: 1px solid #c70062;
        width: 12rem;
        height: 2.5rem;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .socialButton {
        margin: 3px 0 0 0;
        align-self: center;
        color: #eaeded;
        font-size: 25px;
    }

    .goDownMobileContainer {
        /*border: 1px solid green;*/
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto 0 0 0;
        color: #eaeded;
        font-size: 25px;
        width: 100vw;
    }
    .goDownMobileContainer:active {
        background-color: #333333;
    }





    /*.verticalNavBarContainer {*/
    /*    display: none;*/
    /*    align-self: flex-end;*/
    /*    height: 70%;*/
    /*    justify-content: center;*/
    /*    !*border-right: none;*!*/
    /*    border: 2px solid yellow;*/
    /*    width: 60px;*/
    /*    !*height: 100%;*!*/
    /*}*/
    /*.verticalContainerTopIconContainer {*/
    /*    align-self: flex-end;*/
    /*    display: none;*/
    /*    !*border: 1px dashed cyan;*!*/
    /*    width: 60px;*/
    /*    height: 60px;*/
    /*    background-color: #333333;*/
    /*    border-right: 1px solid #343434;*/
    /*}*/
    /*.verticalNavBarBottomButtonContainer {*/
    /*    margin-bottom: 4rem;*/
    /*}*/
    /*.horizontalNavBarContainer {*/
    /*    width: 100vw;*/
    /*    margin: 0 0 0 0;*/
    /*    border: 2px solid gold;*/
    /*    height: 40px;*/
    /*}*/
    /*.horizontalNavBarNameElementLeft {*/
    /*    align-self: center;*/
    /*    margin: -1rem 0 0 1rem;*/
    /*    font-size: 30px;*/
    /*}*/
    /*.horizontalNavBarHeadText {*/
    /*    margin-top: -0.5rem;*/
    /*    font-size: 10px;*/
    /*}*/
    /*.horizontalNavBarButtonsContainer {*/
    /*    display: none;*/
    /*}*/
    /*.bodyMain {*/
    /*    height: 100%;*/
    /*    !*border: 2px solid saddlebrown;*!*/
    /*    justify-content: center;*/
    /*    align-items: flex-start;*/
    /*}*/
    /*.bodyMainHeadContainer {*/
    /*   height: 100%;*/
    /*   width:80%;*/
    /*   !*border: 2px dashed darkgoldenrod;*!*/
    /*   align-self: flex-start;*/
    /*   margin: 3rem 0 0 -1rem;*/
    /*}*/
    /*.bodyMainHeadHead {*/
    /*    width: auto;*/
    /*    !*border: 2px solid greenyellow;*!*/
    /*    font-size: 30px;*/
    /*}*/
    /*.bodyMainHeadSecondLine {*/
    /*    !*border: 2px solid rebeccapurple;*!*/
    /*    margin: 0.5rem 0 1rem 0;*/
    /*}*/
    /*.bodyMainHeadText {*/
    /*    !*border: 2px solid salmon;*!*/
    /*    font-size: 16px;*/
    /*    width: 200px;*/
    /*}*/
    /*.coverFooterContainer {*/
    /*    display: none;*/
    /*}*/


    .footerContainerMobile {
        height: 150px;
        width: 75%;
        margin: 12vh 0 0 0;
        /*border: 2px solid crimson;*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        animation-name: footerAnimation;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-play-state: running;
        animation-direction: normal;
    }
    .footerBlockHeadMobile {
        text-align: center;
        /*border: 2px solid cyan;*/
        letter-spacing: 0.15rem;
        color: #eaeded;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
    }
    .footerBlockHeadMobile:after {
        content: " .";
        color: #c70062;
        font-size: 25px;
    }
    .footerBlockTextMobile {
        /*border: 2px dashed green;*/
        margin: 0.5rem 0 0 0;
        font-size: 14px;
        text-align: center;
        color: #eaeded;
        font-family: 'Noto Sans SC', sans-serif;
    }
    .arrowMobile {
        /*margin-right: -0.2rem;*/
        text-align: center;
        font-size: 25px;
        color: #c70062;
    }
    .bold {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    .footerBlockReadTextMobile {
        text-align: center;
        margin: 0.5rem 0 0 0;
        font-size: 15px;
        color: #c70062;
        font-family: 'Roboto', sans-serif;
    }
}

@keyframes footerAnimation {
    0% {opacity: 0;}
    25% {opacity: 0.50;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 1;}
}