.coverContainer {
    margin: 0 0 5rem 0;
    /*flex-wrap: wrap;*/
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(232,208,236,1) 100%);  /*testing*/
    /*background-image: url("../../../static/bg/wieEchoesDesktopCover.png");*/ /*reuse*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    height:100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
}
.verticalNavBarContainer {
    /*border: 2px solid yellow;*/
    width: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #eaeded;
}
.verticalContainerTopIconContainer {
    /*border: 1px dashed cyan;*/
    width: 90px;
    height: 90px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verticalContainerMenuIcon {
    color: #772583;
    font-size: 25px;
}
.verticalNavBarBottomButtonContainer {
	height: 20%;
	width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}
.verticalNavBarBottomButton {
	font-size: 23px;
	-webkit-tap-highlight-color: transparent;
	margin-top: auto;
	margin-bottom: auto;
    color: #772583;
    transition: 0.5s all;
}
.coverBody {
    /*border: 2px solid rebeccapurple;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.horizontalNavBarContainer {
    margin: 0 0 0 0 ;
    /*flex: 1;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border: 2px dashed darkgoldenrod;*/
    width: 100%;
    height: 100px;
}
.horizontalNavBarNameElementLeft {
    cursor: pointer;
    /*border: 2px solid orange;*/
    margin-left: 2rem;
    /*margin-bottom: 4px;*/
    color: #772583;
    font-size: 35px;
    font-family: 'MuseoModerno', cursive;
}
.horizontalNavBarTextLogoImage {
    margin: 0 0 0 2rem;
    /*height: 100px;*/
    width: 15vw;
    height: auto;
}
.horizontalNavBarNameElementLeftHead {
    /*background: -webkit-linear-gradient(180deg, rgba(57,154,236,1) 0%, rgba(222,105,250,1) 100%, rgba(177,25,120,1) 100%);*/
    /*-webkit-text-fill-color: transparent;*/
    /*-webkit-background-clip: text;*/
    background: -webkit-linear-gradient(180deg, rgba(105,33,186,1) 0%, rgb(215, 43, 176) 100%, rgba(177,25,120,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 0.1rem;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}
.horizontalNavBarHeadText {
    margin-top: -3px;
    text-align: right;
    margin-left: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.08rem;
    font-size: 10px;
}
.pink {
    color: #c70062;
}
.horizontalNavBarButtonsContainer {
    width: 80%;
    /*border: 1px solid rebeccapurple;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.horizontalNavBarButton {
    letter-spacing: 0.05rem;
    font-size: 14px;
    color: #772583;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid transparent;
    transition: 0.5s all;
}
.horizontalNavBarButton:hover {
    border-bottom: 1px solid #772583;
}
.bodyMain {
    /*flex: 4;*/
    width: 100%;
    height: 100%;
    /*border: 2px solid crimson;*/
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.womanImage {
	width: auto;
	max-height: 60%;
    /*border: 2px solid red;*/
    margin: -5% 0 0 0;
}
.bodyMainHeadContainer {
    /*border: 2px solid gold;*/
    /*margin-right: 3rem;*/
    /*border: 2px solid gold;*/
    margin: -10% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    animation-name: footerAnimation;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: normal;
}
.bodyMainHeadHead {
    background: -webkit-linear-gradient(180deg, rgba(105,33,186,1) 0%, rgba(215,43,176,1) 100%, rgba(177,25,120,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /*border: 2px solid crimson;*/
    /*width: 300px;*/
    color: #eaeded;
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
    letter-spacing: 0.1rem;
}
.bodyMainHeadSecondLine {
    /*background: -webkit-linear-gradient(180deg, rgba(57,154,236,1) 0%, rgba(43,215,112,1) 100%, rgba(177,25,120,1) 100%);*/
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: -0.8rem 0 0 0;
}
.bodyMainHeadText {
    /*border: 2px dashed green;*/
    font-size: 1.3vw;
    /*font-family: 'Montserrat', sans-serif;*/
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.05rem;
    color: #772583;
    width: 40vw;
    text-align: left;
    height: auto;
}
.coverFooterContainer {
    /*flex: 2;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*border: 2px solid gold;*/
    width: 100%;
    height: auto;
}
.footerBlock {
    background-color: transparent;
    /*opacity: 0.5;*/
    height: 100%;
    flex: 4;
    /*width: auto;*/
    /*border: 2px dashed green;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.footerBlockHead {
    letter-spacing: 0.15rem;
    margin: 0.2rem 0 1rem 1.5rem;
    align-self: flex-start;
    color: #eaeded;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.footerBlockText {
    margin: 0 0.8rem 0 1.5rem;
    font-size: 14px;
    color: #eaeded;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    letter-spacing: 0.03rem;
}

.arrow {
    align-self: flex-end;
    margin: 0 1rem 0 0;
    font-size: 25px;
    color: #c70062;
}

.onlyText {
    margin-top: 2.8rem;
}
.bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.smallerFooterBlock {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 2px 0px 5px #000;
    align-self: flex-end;
    height: 100%;
    opacity: 0.7;
    /*width: auto;*/
    flex: 2;
    background-image: url("../../../static/team/Emi-Yano-cropped.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.footerBlockReadText {
	cursor: pointer;
    align-self: center;
    margin: 1rem 2.3rem 0 0;
    color: #c70062;
    font-family: 'Roboto', sans-serif;
}
.footerBlockReadText:hover {
    /*border-bottom: 1px solid #c70062;*/
    color: #c70062;
}
.footerBlockWithSwipeLine {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
.scrollText {
    margin: 5rem -1.5rem 0 0;
    color: #eaeded;
    letter-spacing: 0.3rem;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    transform: rotate(90deg);
}
.footerArrow {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footerLongDownLine {
    margin: 0 1rem 0 0;
    align-self: flex-start;
    background-color: #eaeded;
    width: 1px;
    height: 88%;
}
.arrowHead {
    /*border: 1px solid #c70062;*/
    margin: -0.5rem 0 0 -17px;
    padding: 0;
    color: #eaeded;
}
.navBarContainerMobile {
    display: none;
}

@media only screen and (min-width: 768px) {
    .footerContainerMobile {
        display: none;
    }
    .navBarContainerMobile {
        display: none;
    }
    .hamburgerButtonMobile {
        display: none;
    }
    .echoesHeadMobile {
        display: none;
    }
    .echoesTextMobile {
        display: none;
    }
    .echoesHeadByLine {
        display: none;
    }
    .mainTextMobileContainer {
        display: none;
    }
    .mainTextMobileHead1 {
        display: none;
    }
    .mainTextMobileHead2 {
        display: none;
    }
    .mainTextMobileHead2:after {
        display: none;
    }
    .mainTextMobileByLine {
        display: none;
    }
    .socialButtonsMobileContainer {
        display: none;
    }
    .socialButton {
        display: none;
    }
    .goDownMobileContainer {
        display: none;
    }
    .goDownMobileContainer:active {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .coverContainer {
        height: 80vh;
        width: 100vw;
        background: #070723;
        margin: 0 0 10rem 0;
        display:  flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .verticalNavBarContainer {
        display: none;
    }
    .coverBody {
        display: none;
    }
    .navBarContainerMobile {
        margin: 1rem 0 0 0;
        /*border: 1px solid gold;*/
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .hamburgerButtonMobile {
        -webkit-tap-highlight-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2rem 0 0 ;
        /*background-color: #333333;*/
        font-size: x-large;
        width: 2rem;
        height: 2rem;
        align-self: center;
        color: #eaeded;
    }
    .hamburgerIcon {
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        border-radius: 3px;
    }
    .hamburgerIcon:active {
        background-color: #333333;
    }
    .echoesHeadMobile {
        margin: 0 0 0 2rem;
        /*border: 1px dashed green;*/
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .echoesTextMobile {
        font-family: 'Comfortaa', cursive;
        font-size: 28px;
        color: #d2056f;
        /*color: #eaeded;*/
        /*background: -webkit-linear-gradient(315deg, #d4418e 0%, #0652c5 74%);*/
        /*background: linear-gradient(86deg, rgba(176,158,219,1) 0%, rgba(104,99,129,1) 0%, rgba(210,27,77,1) 100%);*/
        /*-webkit-text-fill-color: transparent;*/
        /*-webkit-background-clip: text;*/
    }
    .echoesHeadByLine {
        align-self: flex-end;
        margin-left: 4px;
        margin-top: -5px;
        letter-spacing: 0.1rem;
        /*color: #d4418e;*/
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 9px;
    }
    .mainTextMobileContainer {
        margin: 5vh 0 0 0 ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .mainTextMobileHead1 {
        color: #eaeded;
        font-size: 30px;
        font-family: 'MuseoModerno', cursive;
    }
    .mainTextMobileHead2 {
        margin-top: -1rem;

    }
    .mainTextMobileByLine {
        /*display: none;*/
        width: 75%;
        text-align: center;
        color: #eaeded;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
    }
    .socialButtonsMobileContainer {
        border-radius: 15px;
        border: 1px solid #c70062;
        width: 12rem;
        height: 2.5rem;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .socialButton {
        -webkit-tap-highlight-color: transparent;
        margin: 3px 0 0 0;
        align-self: center;
        color: #eaeded;
        font-size: 25px;
        transition: 0.4s all;
    }


    .goDownMobileContainer {
        /*border: 1px solid green;*/
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto 0 0 0;
        color: #eaeded;
        font-size: 25px;
        width: 100vw;
    }
    .goDownMobileContainer:active {
        background-color: #1b1945;
    }





    /*.verticalNavBarContainer {*/
    /*    display: none;*/
    /*    align-self: flex-end;*/
    /*    height: 70%;*/
    /*    justify-content: center;*/
    /*    !*border-right: none;*!*/
    /*    border: 2px solid yellow;*/
    /*    width: 60px;*/
    /*    !*height: 100%;*!*/
    /*}*/
    /*.verticalContainerTopIconContainer {*/
    /*    align-self: flex-end;*/
    /*    display: none;*/
    /*    !*border: 1px dashed cyan;*!*/
    /*    width: 60px;*/
    /*    height: 60px;*/
    /*    background-color: #333333;*/
    /*    border-right: 1px solid #343434;*/
    /*}*/
    /*.verticalNavBarBottomButtonContainer {*/
    /*    margin-bottom: 4rem;*/
    /*}*/
    /*.horizontalNavBarContainer {*/
    /*    width: 100vw;*/
    /*    margin: 0 0 0 0;*/
    /*    border: 2px solid gold;*/
    /*    height: 40px;*/
    /*}*/
    /*.horizontalNavBarNameElementLeft {*/
    /*    align-self: center;*/
    /*    margin: -1rem 0 0 1rem;*/
    /*    font-size: 30px;*/
    /*}*/
    /*.horizontalNavBarHeadText {*/
    /*    margin-top: -0.5rem;*/
    /*    font-size: 10px;*/
    /*}*/
    /*.horizontalNavBarButtonsContainer {*/
    /*    display: none;*/
    /*}*/
    /*.bodyMain {*/
    /*    height: 100%;*/
    /*    !*border: 2px solid saddlebrown;*!*/
    /*    justify-content: center;*/
    /*    align-items: flex-start;*/
    /*}*/
    /*.bodyMainHeadContainer {*/
    /*   height: 100%;*/
    /*   width:80%;*/
    /*   !*border: 2px dashed darkgoldenrod;*!*/
    /*   align-self: flex-start;*/
    /*   margin: 3rem 0 0 -1rem;*/
    /*}*/
    /*.bodyMainHeadHead {*/
    /*    width: auto;*/
    /*    !*border: 2px solid greenyellow;*!*/
    /*    font-size: 30px;*/
    /*}*/
    /*.bodyMainHeadSecondLine {*/
    /*    !*border: 2px solid rebeccapurple;*!*/
    /*    margin: 0.5rem 0 1rem 0;*/
    /*}*/
    /*.bodyMainHeadText {*/
    /*    !*border: 2px solid salmon;*!*/
    /*    font-size: 16px;*/
    /*    width: 200px;*/
    /*}*/
    /*.coverFooterContainer {*/
    /*    display: none;*/
    /*}*/


    .footerContainerMobile {
        /*border: 1px solid red;*/
        height: 150px;
        width: 75%;
        margin: 9vh 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        animation-name: footerAnimation;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-play-state: running;
        animation-direction: normal;
    }
    .footerBlockHeadMobile {
        text-align: center;
        letter-spacing: 0.15rem;
        color: #eaeded;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
    }
    .footerBlockHeadMobile:after {
        content: " .";
        color: #c70062;
        font-size: 25px;
    }
    .footerBlockTextMobile {
        margin: 0.5rem 0 0 0;
        font-size: 14px;
        text-align: center;
        color: #eaeded;
        font-family: 'Noto Sans SC', sans-serif;
    }
    .arrowMobile {
        /*margin-right: -0.2rem;*/
        text-align: center;
        font-size: 25px;
        color: #c70062;
    }
    .bold {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    .footerBlockReadTextMobile {
        text-align: center;
        margin: 0.5rem 0 0 0;
        font-size: 15px;
        color: #c70062;
        font-family: 'Roboto', sans-serif;
    }
}

@keyframes footerAnimation {
    0% {opacity: 0;}
    25% {opacity: 0.50;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 1;}
}
