.coverContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    /*background-color: #333333;*/  /*testing*/
    /*background-image: url("../../../static/bg/wieEchoesDesktopCover.png");*/ /*reuse*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
}
.navBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.purpleRectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #772583;
    height: 60px;
    width: 120px;
    align-self: flex-start;
    box-shadow: 1px 1px 5px #772583;
}
.echoesText {
    margin-top: 24px;
    letter-spacing: 0.1rem;
    align-self: flex-start;
    font-size: 25px;
    color: white;
    font-family: 'Russo One', sans-serif;
}
.navBarButtonsContainer {
    margin-right: 5rem;
    align-content: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navBarButton {
    font-size: 16px;
    margin-right: 2rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #fff;
}
.navBarButton:hover {
    border-bottom: 2px solid #772583;
}
.navBarButtonIcons {
    margin-top: -4px;
    font-size: 22px;
    border-bottom: none;
}
.navBarButtonIcons:hover {
    border-bottom: none;
}
@media only screen and (max-width: 786px){
    .navBarContainer {
        height: 70px;
    }
    .purpleRectangle {
        margin-left: 25px;
        height: 100%;
    }
    .navBarButtonsContainer {
        display: none;
    }

}