.mobileFooter {
    width: 100%;
    height: 100%;
    margin: 1rem 0 0 0;
    /*border: 2px solid crimson;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 2;
    animation-name: footerAnimation;
    animation-direction: normal;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.footerBlockHeadMobile {
    /*border: 2px solid cyan;*/
    height: 30px;
    width: 250px;
    margin: 0 0 0 1.5rem;
    letter-spacing: 0.15rem;
    color: #eaeded;
    font-family: 'Bebas Neue', cursive;
    align-self: flex-start;
    font-size: 18px;
}
.footerBlockHeadMobile:after {
    content: " .";
    color: #c70062;
    font-size: 25px;
}
.footerBlockTextMobile {
    height: 80px;
    width: 200px;
    /*border: 2px dashed green;*/
    margin: 0 0.8rem 0 1.5rem;
    font-size: 14px;
    color: #eaeded;
    font-family: 'Noto Sans SC', sans-serif;
}
.arrowMobile {
    align-self: flex-end;
    margin: 0 0 0 0;
    font-size: 25px;
    color: #c70062;
}
.bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.footerBlockReadTextMobile {
    align-self: flex-end;
    margin: -2rem 6rem 0 0;
    font-size: 15px;
    color: #c70062;
    font-family: 'Roboto', sans-serif;
}
.footerBlockReadTextMobile:hover {
    text-decoration: underline;
    color: #c70062;
}

@media only screen and (min-width: 768px) {
    .mobileFooter {
        display: none;
    }
}

@keyframes footerAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}