.reportLinksContainer {
    /*flex-wrap: wrap;*/
    margin: 4rem 0 8rem 0 ;
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40vh;
    width: 100%;
    /*background-color: #eee;*/
}

.linkReportHeadContainer {
    border-right: 1px solid #ccc ;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.headText {
    margin-top: 3rem;
    color: #333333;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
.headText:after {
    content: " .";
    color: #c70062;
}

.headContentText {
    font-weight: 500;
    color: black;
    font-family: 'Noto Sans SC', sans-serif;
    margin-top: 2rem;
    text-align: center;
}

.linkContainer {
    /*border: 2px solid darkred;*/
    padding-top: 1rem;
    height: 100%;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.linkWrapLinkReports {
    margin-bottom: 1rem;
}

.linkComponentContainer {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.hubName {
    font-weight: 500;
    font-size: 27px;
    margin-right: 1rem;
    font-family: 'Roboto Mono', monospace;
    color: #333333;
    border-bottom: 1px solid #333333;
}
.hubName:hover {
    color: #772583;
}
.linkIcon {
    margin-top: -6px;
    color: #c70062;
}

@media only screen and (max-width: 768px) {
    .reportLinksContainer {
        flex-wrap: wrap;
        margin: 0 0 12rem 0;
    }
    .headContentText {
        width: 70%;
        text-align: center;
    }
    .linkReportHeadContainer {
        border-right: 0;
    }
    .linkContainer {
        text-align: left;
        margin-top: -8rem;
    }
    .hubName {
        font-size: 25px;
    }
}
